<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tencent.wxcloudrun.dao.UserMapper">
    <select id="searchUser" resultType="Integer">
        select id from user
        where #{account} = account
    </select>
    <insert id="register">
        INSERT INTO `user` (`account`, `name`, `phone`, `email`, `permission`, `avatar`,`password`)
        VALUES (#{account}, #{name}, #{phone}, #{email}, '1', '/source/img/icons/custom_center.png',#{password});
    </insert>
    <select id="logIn" resultType="com.tencent.wxcloudrun.entity.User">
        select * from user
        where #{account} = account and #{password} = password
    </select>
    <update id="changeInfo">
        UPDATE `user` SET `account`=#{account}, `name`=#{name}, `phone`=#{phone}, `email`=#{email}
        WHERE `id`= #{id};
    </update>
    <update id="changePassword">
        UPDATE `user` SET `password`=#{password}
        WHERE `id`= #{id};
    </update>
    <select id="getPassword" resultType="String">
        select password from user
        where id = #{id}
    </select>
</mapper>